
.logos-wrap{
    background-color: #e0e0e0;
    padding: 30px 0;
    /* background-image: linear-gradient(45deg,rgba(238, 238, 238, 0.856),rgba(255, 255, 255, 0.945)), url(https://img.freepik.com/free-photo/view-allergens-commonly-found-grains_23-2150170288.jpg?t=st=1709706354~exp=1709709954~hmac=44a30752aa6cec39d5b62d2ae32dc02344b4df9584b5973a95883eb57e8f6205&w=1380);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.scroll-contai{
    height: 100%;
    margin: 20px 0;
}

.logo-hed {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-hed {
    font-size: 25px;
    font-weight: 600;
    color: var(--color-balck);
    margin: 0;
    text-align: center;
}

.logoimgs {
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logoimgs::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 150px;
    height: 100%;
    background: linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0), #e0e0e0);
    z-index: 1;
}

.logoimgs::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 150px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0), #e0e0e0);
    z-index: 1;
}

.logos {
    display: flex;
    animation: scroll 20s linear infinite;
}

.logos img {
    width: 100px;
    height: 100px;
    margin: 0 50px;
    object-fit: contain;
    filter: grayscale(100%);
    cursor: pointer;
    transition: all .3s;
}
.logos img:hover{
    filter: grayscale(0);
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
