@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); 
@tailwind base;
@tailwind components;
@tailwind utilities;



/* 
:root{
    --background : #fff;
} */
body{
    font-family: "Raleway", sans-serif;
}

.min-width{
    width: calc(100% - 288px);
}
@media (max-width: 1024px){
    .min-width{
        width: 100%;
    }

}

.numberFont{
    font-family: "Montserrat", sans-serif;
    /* font-weight: 600; */
}

.btns{
    background-color: #fde68a;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
}
.btns:hover{
    background-color: #e6ca5d;
}

.container{
    padding: 0 50px;
}
@media (max-width: 1024px){
    .container{
        padding: 0 10px;
    }
}

.cardStyle{
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.carListView{
    width: calc(100% - 384px);
}
@media (max-width: 1024px){
    .carListView{
        width: 100%;
    }

}